<div class="mPTgsQ">
    <nav class="navbar">
        <div class="main-container">
            <a routerLink="/">
                <img id="navbar-logo" src="../assets/img/logo_grupo_3.png" alt="logo.png">
            </a>
            <div class="f-right">
                <a class="navbar-option" routerLink="/">Inicio</a>
                <div class="navbar-dropdown-container">
                    <button class="navbar-option navbar-dropdown-button" routerLink="/info/historia">Saliendo de las drogas </button>
                    <!--div class="navbar-dropdown-options-container">
                        <a class="navbar-dropdown-option" routerLink="/info/historia">Historia corta</a>
                        <a class="navbar-dropdown-option" routerLink="/info/prueba2">Historia Corta</a>
                        <a class="navbar-dropdown-option" routerLink="/info/prueba3">Historia Corta</a>
                        <a class="navbar-dropdown-option" routerLink="/info/prueba4">Historia Corta</a>
                    </div-->
                </div> 
                <ng-container *ngIf="!loginService.loggedIn(); else loggedIn">
                    <a class="navbar-option" routerLink="/signin">Iniciar Sesión</a>
                    <a class="navbar-option" routerLink="/signup">Registrarse</a>
                </ng-container>
                <ng-template #loggedIn>
                  <a class="navbar-option" routerLink="/awaiting-requests" *ngIf="role === 'Admin'">Solicitudes Pendientes</a>
                  <a class="navbar-option" routerLink="/all-user" *ngIf="role === 'Admin' ">Todos los Usuarios</a>
                  <a class="navbar-option" routerLink="/quotes" *ngIf="role === 'Doctor' ">Gestionar Citas</a>
                    <div class="navbar-dropdown-container">
                        <button class="navbar-option navbar-dropdown-button">Usuario <i class="fas fa-caret-down"></i></button>
                        <div class="navbar-dropdown-options-container">
                            <a class="navbar-dropdown-option" routerLink="/my-user">Mi Usuario</a>
                            <a class="navbar-dropdown-option" style="cursor: pointer;" (click)="loginService.logout()">Cerrar Sesión</a>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </nav>

    <div class="main-container" style="padding: 40px 20px">
      <router-outlet></router-outlet>
    </div>

    <footer>
        <div style="width: 100%; background-color: #013220">
            <div id="footer-container" style="padding: 20px 0;" class="grid-layout-2">
                <div id="footer-left">
                    <div style="width: fit-content;">
                        <img id="footer-logo" src="../assets/img/pasd_white.png" alt="logo_footer.png">
                    </div>
                </div>
                <div id="footer-right">
                    <div>
                        <div style="margin-bottom:5px">
                            <a class="footer-icon" href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a class="footer-icon" href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            <a class="footer-icon" href="https://youtube.com" target="_blank"><i class="fab fa-youtube-square"></i></a>
                            <a class="footer-icon" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <p style="margin-bottom:5px;color:white">+(502) 2828-8282</p>
                        <p style="margin-bottom:5px; color:white">pasd@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center; background-color: #013220; padding:15px 0">
            <p style="color:white;">&copy;2021 PASD - Todos los derechos reservados</p>
        </div>
    </footer>
</div>
