<div class="grid-layout-2" id="info-container">
    <a href="https://google.com" target="_blank" style="background-color: #eee; border-radius:15px" class="grid-2">
        <div class="f-centered-container info-elements-container">
            <div style="width: 150px; height: 150px; background-color: gray; border-radius: 50%;"></div>
        </div>
        <div class="f-centered-container info-elements-container">
            <div>
                <h3>Jeffry</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dictum ultricies. Aliquam at sollicitudin dolor, vel aliquam ex. Morbi porta mauris porta, accumsan dui et, lacinia leo. Sed purus velit, pretium mollis vehicula placerat, pretium vitae
                    lectus. Phasellus massa urna, rhoncus in aliquet quis, commodo eget tortor.</p>
            </div>
        </div>
    </a>


    <a href="https://google.com" target="_blank" style="background-color: #eee; border-radius:15px" class="grid-2">
        <div class="f-centered-container info-elements-container">
            <div style="width: 150px; height: 150px; background-color: gray; border-radius: 50%;"></div>
        </div>
        <div class="f-centered-container info-elements-container">
            <div>
                <h3>Si miras esto</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dictum ultricies. Aliquam at sollicitudin dolor, vel aliquam ex. Morbi porta mauris porta, accumsan dui et, lacinia leo. Sed purus velit, pretium mollis vehicula placerat, pretium vitae
                    lectus. Phasellus massa urna, rhoncus in aliquet quis, commodo eget tortor.</p>
            </div>
        </div>
    </a>


    <a href="https://google.com" target="_blank" style="background-color: #eee; border-radius:15px" class="grid-2">
        <div class="f-centered-container info-elements-container">
            <div style="width: 150px; height: 150px; background-color: gray; border-radius: 50%;"></div>
        </div>
        <div class="f-centered-container info-elements-container">
            <div>
                <h3>Saca fibra</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dictum ultricies. Aliquam at sollicitudin dolor, vel aliquam ex. Morbi porta mauris porta, accumsan dui et, lacinia leo. Sed purus velit, pretium mollis vehicula placerat, pretium vitae
                    lectus. Phasellus massa urna, rhoncus in aliquet quis, commodo eget tortor.</p>
            </div>
        </div>
    </a>

    <a href="https://google.com" target="_blank" style="background-color: #eee; border-radius:15px" class="grid-2">
        <div class="f-centered-container info-elements-container">
            <div style="width: 150px; height: 150px; background-color: gray; border-radius: 50%;"></div>
        </div>
        <div class="f-centered-container info-elements-container">
            <div>
                <h3>Animo che</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dictum ultricies. Aliquam at sollicitudin dolor, vel aliquam ex. Morbi porta mauris porta, accumsan dui et, lacinia leo. Sed purus velit, pretium mollis vehicula placerat, pretium vitae
                    lectus. Phasellus massa urna, rhoncus in aliquet quis, commodo eget tortor.</p>
            </div>
        </div>
    </a>
</div>