
<div class="info-div">
    <div class="title-div" *ngFor="let info of miData">
        <div >
            <div >
                <p>{{info.imagen}}</p>
            </div>
        </div>

    </div>

        <div>
            <div >
                <p>{{info.titulo}}</p>
            </div>
        </div>
        <i>Publicado el 20/01/2021 por Joaquín Sian</i>
   
    <hr style="margin-bottom: 20px;">

 
    <!--<p><b>[(borrar esto) ID de url: {{iddocumento}}]</b></p> -->
    <!-- ########################## -->

    <div >
        <div>
            <p>{{info.parrafo}}</p>
        </div>
    </div>


</div>

