<!--<div class="info-div">
    <div class="title-div">
        <img src={{informacion.imagen}} alt="decoration-image.png">
        <h1>{{informacion.titulo}}</h1>
        <i>Publicado el 20/01/2021 por Joaquín Sian</i>
    </div>
    <hr style="margin-bottom: 20px;">

    <!-- BORRAR ESTA LINEA, SOLO ES DEMOSTRACION -->
    <!--<p><b>[(borrar esto) ID de url: {{iddocumento}}]</b></p> -->
    <!-- ########################## -->

    !<!--<ng-container *ngFor="let x of informacion.parrafos">
        <p class="paragraph">
            {{x.parrafo}}
        </p>
        <br>
    </ng-container>
</div> -->
