<div class="info-div" *ngFor="let info of miData"> 
    <div class="title-div" >
        <div >
            <div >
                <img [src]="info.ImagenPrincipal">
            </div>
        </div>

    </div>

        <div>
            <div >
                <h1>{{info.titulo}}</h1>
            </div>
        </div>
        <i>{{info.createdAt | date}}</i>
   
    <hr style="margin-bottom: 20px;">

 
    <!--<p><b>[(borrar esto) ID de url: {{iddocumento}}]</b></p> -->
    <!-- ########################## -->

    <div >
        <div>
            <p>{{info.parrafos}}</p>
        </div>
    </div>


</div>

