<div id="login-row" class="grid-layout-2">
    <div class="left-login f-centered-container">
        <div class="form-with-title-container">
            <div style="text-align:center">
                <h2 class="title-form m-b-20">Iniciar Sesión</h2>
            </div>
            <form (ngSubmit)="signIn()" method="post" ngNativeValidate>
                <div class="form-div">
                    <h5>Nombre de Usuario</h5>
                    <input [(ngModel)]="user.usuario" name="usuario" minlength="4" required="required" class="input-field w-100" type="text" placeholder="Username" />
                </div>
                <div class="form-div">
                    <h5>Contraseña</h5>
                    <input [(ngModel)]="user.password" minlength="4" name="password" required="required" class="input-field w-100" type="password" placeholder="Password" />
                </div>
                <input class="btn w-100" type="submit" value="Iniciar Sesión">
            </form>
            <p class="m-t-20">¿No tienes una cuenta?, puedes <a style="color: #013220" routerLink="/signup">Registrarte</a></p>
        </div>
    </div>
    <div class="right-login">
        <div style="text-align: center" class="m-b-20">
            <img style="width: 50%" src="https://www.pngkey.com/png/full/196-1960872_doctors-clipart-doctor-patient-see-doctor-png.png" alt="doctor.png">
        </div>
        <h3 style="color: white; font-size: 40px; font-family: 'Rowdies';">Nuestra prioridad es conocer y entender al paciente para una pronta rehabilitación.</h3>
    </div>
</div>