.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#progress-number {
    font-size: 50px;
}

.button-games {
    padding: 20px 22px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    transition: .2s ease all;
}

.red {
    background-color: #e74c3c;
}

.red:hover {
    background-color: #f06c5e;
}

.blue {
    background-color: #3498db;
}

.blue:hover {
    background-color: #4baae9;
}