<div>
    <div>
        <div>
            <div style="width: 200px; height: 200px; background-color: gray; border-radius: 50%;"></div>
        </div>
        <div>
            <h1>Lorem Ipsum Dolor</h1>
        </div>
    </div>

    <div>
        <div>
            <h3>Progreso:</h3>
            <h2>80%</h2>
        </div>
        <div>
            <h3>Nivel de drogadicción:</h3>
            <h4><i class="fas fa-exclamation-circle"></i> Preocupante</h4>
        </div>
    </div>

    <div>
        <h3>Descripción</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eleifend nisi, in lobortis nunc. Aliquam nec accumsan nisi. Vestibulum rhoncus elit sit amet nunc dictum, molestie rhoncus nunc fringilla. Integer vulputate nisi sem, aliquam gravida
            mauris maximus sed. Cras at metus et libero vestibulum aliquet in in tortor. Aliquam erat volutpat. Sed ac pretium diam. Donec commodo vitae nulla vel sodales.</p>

        <button>Dejar doctor</button>
        <h3>Advertencia</h3>
        <p>Al dejar este doctor se perderá toda relación y sus datos juntos</p>
    </div>
</div>