<div class="grid-layout-2">
    <div>
        <div>
            <div>
                <div style="width: 200px; height: 200px; background-color: gray; border-radius: 50%;"></div>
            </div>
            <div class="m-t-20">
                <h1>Lorem Ipsum Dolor</h1>
            </div>
        </div>

        <div class="m-t-20 m-b-20 grid-2" style="position:relative">
            <div>
                <h3>Progreso:</h3>
                <h2 id="progress-number">80%</h2>
            </div>
            <div>
                <h3>Nivel de drogadicción:</h3>
                <h4><i class="fas fa-exclamation-circle"></i> Preocupante</h4>
            </div>
        </div>

        <div class="m-t-20">
            <ng-container *ngIf="loginService.loggedIn();">
                <div [ngSwitch]="role">
                    <div *ngSwitchCase="'Paciente'">
                        <p style="color: red">Su rol es <b>Paciente</b></p>
                    </div>
                    <div *ngSwitchCase="'Admin'">
                        <p style="color: red">Su rol es <b>Administrador</b></p>
                    </div>
                    <div *ngSwitchCase="'Doctor'">
                        <p style="color: red">Su rol es <b>Doctor</b></p>
                    </div>
                </div>

            </ng-container>
            <button class="m-t-20 btn">Dejar doctor</button>
            <h3 class="m-t-20"><i class="fas fa-exclamation-circle"></i> Advertencia</h3>
            <p>Al dejar este doctor se perderá toda relación y sus datos juntos</p>
        </div>
        <div class="m-t-20">
            <button routerLink="/my-user/game" class="button-games"><i class="fas fa-gamepad"></i> Juegos <i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>
</div>