.game-container {
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.score {
    font-size: 22px;
    margin-top: 10px;
    display: block;
}

.left-container {
    grid-column: 1/ span 2;
    background-color: #27ae60;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-container {
    grid-column: 3 / span 10;
    padding: 30px 5%;
    background-color: #ddd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon {
    font-size: 60px;
}

.grid-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.all-games-container {
    width: 100%;
    max-width: 750px;
}

.start-game {
    margin-top: 10px;
}