<div class="all-games-container">
    <div>
        <h1 class="m-b-20" style="color:#013220">Mis Juegos</h1>

        <div class="game-container grid-10 m-b-20">
            <div class="game-subcontainer left-container f-centered-container">
                <i class="icon fas fa-egg"></i>
            </div>
            <div class="game-subcontainer right-container">
                <h2>Lorem Ipsum</h2>
                <h4>Nivel: Fácil</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas ullam nulla, minima consectetur eos.</p>
                <span>Calificación: 100%</span>
                <div>
                    <button class="btn start-game" routerLink="/my-user/game/game-by-id">Empezar Juego <i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>

        <div class="game-container grid-10 m-b-20">
            <div class="game-subcontainer left-container f-centered-container">
                <i class="icon fas fa-egg"></i>
            </div>
            <div class="game-subcontainer right-container">
                <h2>Lorem Ipsum</h2>
                <h4>Nivel: Fácil</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas ullam nulla, minima consectetur eos.</p>
                <span>Calificación: 100%</span>
                <div>
                    <button class="btn start-game" routerLink="/my-user/game/game-by-id">Empezar Juego <i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>

        <div class="game-container grid-10">
            <div class="game-subcontainer left-container f-centered-container">
                <i class="icon fas fa-egg"></i>
            </div>
            <div class="game-subcontainer right-container">
                <h2>Lorem Ipsum</h2>
                <h4>Nivel: Fácil</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quas ullam nulla, minima consectetur eos.</p>
                <span>Calificación: 100%</span>
                <div>
                    <button class="btn start-game" routerLink="/my-user/game/game-by-id">Empezar Juego <i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>