@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background: rgb(254, 254, 254);
    background: linear-gradient(90deg, rgba(254, 254, 254, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(46, 204, 113, 1) 100%);
}

.navbar-option {
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 16px 20px;
    text-decoration: none;
    transition: .2s ease all;
}

.navbar-option:hover {
    color: rgb(29, 29, 29)
}

.f-right {
    float: right;
}

.navbar::after {
    display: table;
    clear: both;
    content: ""
}

#navbar-logo {
    display: inline-block;
    width: 100px;
    margin-top: 5px;
    margin-left: 20px;
}

.main-container {
    margin: 0 4%;
}