<div id="login-row" class="grid-layout-2">
    <div class="left-login f-centered-container">
        <div class="form-with-title-container">
            <div style="text-align:center">
                <h2 class="title-form m-b-20">Registrarse</h2>
            </div>
            <form (ngSubmit)="signUp()" method="POST" ngNativeValidate>
                <div class="form-div">
                    <h5>Nombre</h5>
                    <input required="required" minlength="4" name="nombre" [(ngModel)]="user.nombre" class="input-field w-100" type="text" placeholder="Name" />
                </div>
                <div class="form-div">
                    <h5>Celular</h5>
                    <input required="required" minlength="4" name="celular" [(ngModel)]="user.celular" class="input-field w-100" type="number" placeholder="ej. 38485790" />
                </div>
                <div class="form-div">
                    <h5>Dpi</h5>
                    <input required="required" minlength="4" name="dpi" [(ngModel)]="user.dpi" class="input-field w-100" type="number" placeholder="ej. 2019047" />
                </div>
                <div class="form-div">
                    <h5>Email</h5>
                    <input required="required" minlength="4" name="email" [(ngModel)]="user.email" class="input-field w-100" type="email" placeholder="example@domain.com" />
                </div>
                <div class="form-div">
                  <h5>Foto</h5>
                  <input required="required" minlength="4" name="foto" [(ngModel)]="user.foto" class="input-field w-100" type="text" placeholder="http://domain.com/image.png" />
                </div>
                <div class="form-div">
                  <h5>Descripción</h5>
                  <textarea required="required" minlength="4" name="descripcion" [(ngModel)]="user.descripcion" class="input-field w-100" type="text" placeholder="Descripción"></textarea>
                </div>
                <hr style="margin-bottom: 10px;">
                <div class="form-div">
                    <h5>Nombre de Usuario</h5>
                    <input required="required" minlength="4" name="usuario" [(ngModel)]="user.usuario" class="input-field w-100" type="text" placeholder="Username" />
                </div>
                <div class="form-div">
                    <h5>Contraseña</h5>
                    <input required="required" minlength="4" name="password" [(ngModel)]="user.password" class="input-field w-100" type="password" placeholder="Password" />
                </div>
                <input class="btn w-100" type="submit" value="Registrarse">
            </form>
            <p class="m-t-20">¿Ya posees una cuenta?, puedes <a style="color: #013220" routerLink="/signin">Iniciar Sesión</a></p>
        </div>
    </div>
    <div class="right-login f-centered-container">
        <div>
            <div style="text-align: center" class="m-b-20">
                <img style="width: 50%" src="https://cdn.pngsumo.com/doctors-clipart-primary-care-physician-doctors-primary-care-primary-care-physician-png-640_640.png" alt="doctor.png">
            </div>
            <h3 style="color: white; font-size: 40px; font-family: 'Rowdies';">Empieza ya a tomar una nueva oportunidad y a construir tu futuro.</h3>
        </div>
    </div>
</div>
