<div style="overflow: hidden;">
    <div class="chat-container">
        <div class="cont">
            <h1>Doctor Lorem</h1>
        </div>
        <div class="cont fake-board">
            <div class="message">
                Hola
            </div>
        </div>
        <div class="cont">
            <input placeholder="Escriba aquí su mensaje" style="width: 360px;" class="input-field" type="text" name="x" id="x">
            <button class="btn">Enviar</button>
        </div>
    </div>
</div>